body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.container{
   width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.menu{
 
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.name{
  display: block;
  font-size: 16px;
  font-weight:800;
}
.description{
  margin-left: 9px;
}
.menu-logo{
  display: flex;
  align-items: center;
  
}
.avatar{
  width: 57px;
height: 57px;
background: url("https://pp.userapi.com/c846221/v846221876/18814e/3P25AahQTmQ.jpg");
  border-radius: 50%;
  background-size: 100%;
  }
.menu-list{
  display: flex;
  align-items: center;
  }
.menu-list a {
  text-decoration: none;
  color: #2b2a2c;
  text-transform: uppercase;
  font-weight: 800;
  margin-right: 35px;
  }
.menu-button{
text-transform: uppercase;
font-size: 14px;
font-weight: 800;
background-color: transparent;
width: 196px;
height: 52px;
border-radius: 50px;
border: 2px solid #2b2a2c;
padding: auto;

}
a{
display: inline-block;
position: relative;
text-decoration: none;
}
a::before{
display: block;
position: absolute;
content: "";
height: 2px;
width: 0;
background-color: blue;
transition: width .3s ease-in-out, left .3s ease-in-out;
left: 50%;
bottom: 0;
}
a::after{
display: block;
position: absolute;
content: "";
height: 2px;
width: 0;
background-color: blue;
transition: width .3s ease-in-out;
left: 50%;
bottom: 0;
}
a:hover::before{
width: 50%;
left: 0;
}
a:hover::after{
width: 50%;
}
.hero{
  padding-top: 112px;
  padding-bottom: 112px;
  background: url("https://wmpics.pics/di-CFIR.png") no-repeat right bottom;
  }
.hero-subtitle{
  font-size: 32px;
}
.hero-title{
  font-size: 45px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 5px;
}
.hero-description{
  font-size: 18px;
  color: #6a696b;
}
.hero-social{
  margin-top: 30px;
}
.social{
  display: inline-block;
  width: 41px;
height: 41px;
  margin-right: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 41px;
}
.behance-bg{
  background-color: #1869ff;
}
.facebook-bg{
  background-color: #3a5898;
}
.instagram-bg{
  background-color: #13578a;
}
.vk-bg{
  background-color: #56acef;
}
.hero-buttons{
  margin-top: 40px;
}
.button{
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  background-color: #2b2a2c;
  border-radius: 50px;
  padding: 20px;34px;
  display: inline-block;
}
.button-primary{
  color: #ffffff;
  margin-right: 17px;
  margin-bottom: 10px;
}
.button-o{
  background-color: transparent;
  color: #6a696b;
  border: 1px solid #6a696b;
  
}
.projects{
  padding: 97px 0;
}
.project-cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }
.project-card{
width: 370px;
min-height: 370px;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
margin-bottom: 50px;
}
.progect-card__image{
  height: 300px;
}
.landing-page{
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXXX26SgNjMVh_XxRt35JGhDNigEITLkdWzrGvJjEueC0EqEBD'); center;
  background-size: cover;
   background-repeat: no-repeat;
}
.project-card__info{
  padding: 19px 13px;
}
.project-category{
  display: block;
  font-size: 12px;
  color: #2b2a2c;
}
.project-title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
  font-size: 16px;
}
.hipster{
background: url('https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/4f8a5f04-a9b3-49ad-a882-c36293c8d929/hipster-landing.jpg'); center;
  background-size: cover;
   background-repeat: no-repeat;
}
.rgen{
  background: url('https://camo.envatousercontent.com/08d3cc999824fae421de11c21c784b1f1abddee5/687474703a2f2f6c616e64696e6770616765732e7267656e657369732e636f6d2f74662d696e666f2d76332f6e65772d64656d6f2d626f6f6b732e6a7067'); center;
  background-size: cover;
   background-repeat: no-repeat;
}
.design{
  background: url('https://sg.fiverrcdn.com/photos/115541607/original/ad36768a47866fc34be6860e4c600e08c02f7248.png?1533926627'); center;
  background-size: cover;
   background-repeat: no-repeat;
}
.planner{
  background: url('https://cdn-images-1.medium.com/max/1600/0*sRZAlv_GfY6HRyUR.jpg'); center;
  background-size: cover;
   background-repeat: no-repeat;
}
.altawing{
  background: url('https://cdn.dribbble.com/users/3652/screenshots/992616/attachments/116272/AltaWing-LandingPage.jpg'); center;
  background-size: cover;
   background-repeat: no-repeat;
}
.soon{
  background: url('https://i.pinimg.com/originals/9d/00/9c/9d009cf46d8e359bee42618b8d010b0e.jpg'); center;
  background-size: cover;
   background-repeat: no-repeat;
}
.united{
  background: url('https://cdn.dribbble.com/users/430517/screenshots/2618726/800.png'); center;
  background-size: cover;
   background-repeat: no-repeat;
}
.weblo{
  background: url('https://cdn.dribbble.com/users/408720/screenshots/4260748/weblo-landing.jpg'); center;
  background-size: cover;
   background-repeat: no-repeat;
}
.info-me {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
 
}
.designer_photo {
  margin-right: 60px;
}
.about__me{
font-size: 45px;
  font-weigth: 800;
  color: #2b2a2c;
  text-transform: uppercase;

}
.text{
    font-size: 12px;
  font-weight: 300px;
  color: #717072;
  margin-bottom: 55px;
}
.footer {
  background-color: #2b2a2c;
  padding: 20px 0;
  color: #8d8d8e;
  margin-top: 127px;
}
.footer a{
  color: #8d8d8e;
  text-decoration: none;
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-text{
  display: flex;
 align-items: center;
}
.copyright{
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px solid  #413f41;
  font-size: 14px;
}
.footer-social__link {
  font-size: 20px;
  margin-right: 13px;
  
}
.footer-menu {
   display: flex;
 align-items: center;
  justify-content: space-between;
}
.footer-menu a {
  font-size: 14px;
  display: inline-block;
  margin-right: 30px;
}
.footer-button {
background-color: transparent;
border-radius: 50px;
border: 1px solid #8d8d8e;
  padding: 8px 22px;
}
@media (max-width: 1200px) {
  .container {
    width: 965px;
  }
  .project-card {
    width: 48%;
  }
}
@media (max-width: 992px) {
  .container {
    width: 95%;
  }
  .project-card {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .descripton_small{
    font-size: 10px;
  }
  .menu-list{
    display: none;
  }
  .hero {
    padding-bottom: 550px;
    padding-top: 30px;
  }
  .container {
    width: 95%;
  }
  .project-card {
    width: 95%;
    margin: 30px auto;
  }
}